html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4vw;
	margin-top: 0;
}
header {
	background-color: rgba(64, 64, 81, 0.3);
}

aside {
	width: 200px;
	background-color: rgba(64, 64, 81, 0.1);

}


