html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4vw;
	margin-top: 0;
}
.banner {
	background-color: rgba(64, 64, 81, 0.3);
	

}

.banner:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.name {
	
	float: left;
	padding-left: 120px;
}

h2 {
	background: rgba(64, 64, 81, 0.2);
	width: 86.6%;

}

h3 {
	background: rgba(64, 64, 81, 0.1);
	width: 400px;
}

h1 {
	color: #cc9900;
}

aside {
	float: right;
	background-color: rgba(64, 64, 81, 0.1);
	
	width: 180px;


}


